.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 1s linear infinite;
    width: fit-content;
    
    img {
        object-fit: cover;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);;
    }
}